{%  extends 'base.html' %}
{% block content %}
<div class="media">
    <table>
        <tr>
            <td>
              <div class="media-left">
                <a href="#">
                    <img class="media-object" src="../static/login.jpeg" alt="login">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Login Functionality </h4>
              </div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp
            </td>
        </tr>
        <tr>
            <td>
              <div class="media-left">
                <a href="#">
                    <img class="media-object" src="../static/register.jpeg" alt="login">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Register Functionality </h4>
              </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}